<div class="row">
  <div class="col-sm p-3">
    <div class="form-group">
      <%= p.label :phone_number %><br />
      <%= p.text_field :phone_number, class: "form-control" %>
    </div>
  </div>
</div>